<div class="full-screen-container">
  <img class="bg-image" src="/assets/images/bg.png" />
  <div #container class="form" style="margin-top: 100px">
    <form [formGroup]="registerForm">
      <h2 style="text-align: center">Реєстрація</h2>

      <mat-form-field *ngIf="!isOauthLogin">
        <input matInput placeholder="I'мя" formControlName="firstName" />
      </mat-form-field>

      <mat-form-field *ngIf="!isOauthLogin">
        <input matInput placeholder="Прiзвище" formControlName="lastName" />
      </mat-form-field>

      <mat-form-field *ngIf="!isOauthLogin">
        <input
          matInput
          placeholder="Електронна пошта"
          formControlName="email"
        />

        <mat-error *ngIf="registerForm.controls.email.hasError('notUnique')">
          Електронна пошта вже зареєстрована
        </mat-error>

        <mat-error *ngIf="registerForm.controls.email.hasError('email')">
          Невірна електронна пошта
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Номер телефону"
          formControlName="phoneNumber"
        />

        <mat-error
          *ngIf="registerForm.controls.phoneNumber.hasError('notUnique')"
        >
          Номер телефону вже зареєстрований
        </mat-error>

        <mat-error
          *ngIf="
            registerForm.controls.phoneNumber.hasError('pattern') &&
            registerForm.controls.phoneNumber.dirty
          "
        >
          Невірний номер телефону
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="!isOauthLogin">
        <input
          matInput
          type="password"
          placeholder="Пароль"
          formControlName="password"
        />

        <mat-error *ngIf="registerForm.controls.password.hasError('minLength')">
          Мінімальна кількість символів - 8
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="!isOauthLogin">
        <input
          matInput
          type="password"
          placeholder="Повторіть пароль"
          formControlName="repeatPassword"
        />

        <mat-error
          *ngIf="registerForm.controls.repeatPassword.hasError('notEquel')"
        >
          Паролі не співпадають
        </mat-error>
      </mat-form-field>

      <button
        [disabled]="registerForm.invalid"
        [class.disabled]="registerForm.invalid"
        class="form__btn form__btn_login"
        (click)="register()"
      >
        Зареєструватися
      </button>

      <button
        class="form__btn form__btn_login register"
        [routerLink]="'/auth/login'"
      >
        Увійти
      </button>

      <button
        class="form__btn form__btn_login register-google"
        (click)="signInWithGoogle()"
      >
        <i class="fa fa-google"></i>&emsp;Увійти за допомогою Google
      </button>
    </form>
  </div>

  <div class="more-actions-container">
    <span class="more-actions-toggler" (click)="moreActions = !moreActions">
      <i
        *ngIf="moreActions"
        class="fas fa-chevron-down"
        style="padding-right: 10px"
      ></i>
      <i
        *ngIf="!moreActions"
        class="fas fa-chevron-up"
        style="padding-right: 10px"
      ></i>
    </span>

    <div *ngIf="moreActions" class="more-actions-buttons">
      <a [routerLink]="'/auth/register-company'"
        ><div class="register-company-btn">Зареєструвати компанію</div></a
      >

      <a [routerLink]="'/auth/catering'"
        ><div class="register-company-btn">Увійти як надавач послуг</div></a
      >
    </div>
  </div>
</div>
