<div class="login-main" style="position: relative">
  <img class="bg-image" src="/assets/images/bg.png" />
  <div class="login-container">
    <div class="form" style="margin-top: 100px">
      <form [formGroup]="loginForm">
        <h2 style="text-align: center">Реєстрація</h2>

        <mat-form-field>
          <input matInput placeholder="I'мя" formControlName="firstName" />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Прiзвище" formControlName="lastName" />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Електронна пошта"
            formControlName="email"
          />

          <mat-error *ngIf="loginForm.controls.email.hasError('notUnique')">
            Електронна пошта вже зареєстрована
          </mat-error>

          <mat-error *ngIf="loginForm.controls.email.hasError('email')">
            Невірна електронна пошта
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Номер телефону"
            formControlName="phoneNumber"
          />

          <mat-error
            *ngIf="loginForm.controls.phoneNumber.hasError('notUnique')"
          >
            Номер телефону вже зареєстрований
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Пароль" formControlName="password" />

          <mat-error *ngIf="loginForm.controls.password.hasError('tooWeak')">
            Слабкий пароль
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Повторіть пароль"
            formControlName="repeatPassword"
          />

          <mat-error
            *ngIf="loginForm.controls.repeatPassword.hasError('notEquel')"
          >
            Паролі не співпадають
          </mat-error>
        </mat-form-field>

        <button
          [disabled]="loginForm.invalid"
          class="form__btn form__btn_login"
          (click)="login()"
        >
          Зареєструватися
        </button>

        <button
          class="form__btn form__btn_login register"
          [routerLink]="'/auth/login'"
        >
          Увійти
        </button>

        <button class="form__btn form__btn_login register-google">
          <i class="fa fa-google"></i>&emsp;Увійти за допомогою Google
        </button>
      </form>
    </div>
  </div>
</div>
