.mat-form-field {
  width: 100%;
}

.bg-image {
  width: 100%;
  position: fixed;
  top: -70px;
  left: 0;
  z-index: -1;
}

.full-screen-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.mat-dialog-actions {
  justify-content: center;
}

.more-actions-container {
  position: fixed;
  right: 0;
  bottom: 0;

  .more-actions-toggler {
    cursor: pointer;
    padding: 5px 0px 3px 10px;
    background: white;
    border-radius: 10px 10px 0px 0px;
  }

  .more-actions-buttons {
    background: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px;

    a {
      text-decoration: none;
      margin-bottom: 10px;

      .register-company-btn {
        padding: 20px;
        border-radius: 20px;
        transition: 0.5s;
        text-align: center;
        background: #eeeeee;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.514);

        &:hover {
          background: #c5c5c5;
        }

        &:active {
          background: #adadad;
        }
      }
    }
  }
}

.preview-form {
  .mat-form-field-underline,
  .mat-form-field-ripple {
    height: 0px !important;
  }

  .ng-arrow-wrapper {
    display: none;
  }

  .ng-select .ng-select-container:after {
    border: none;
  }

  input:disabled,
  select:disabled,
  div.radio-field > label,
  .mat-input-element:disabled,
  .mat-checkbox-label,
  .mat-radio-label-content,
  .ng-value {
    color: var(--text-color) !important;
  }

  .mat-checkbox-disabled,
  .mat-slide-toggle.mat-disabled {
    opacity: 1;
  }

  .mat-checkbox-frame {
    border-color: var(--color-text);
  }

  .more-info-label {
    color: var(--color-text-weak);
    font-weight: 400;
    width: 150px;

    &.has-content {
      color: inherit;
      position: relative;

      > span {
        position: absolute;
        font-size: 11px;
        top: -15px;
        font-weight: 500;
      }
    }
  }

  .normal-field {
    .mat-form-field-underline,
    .mat-form-field-ripple {
      height: 1px !important;
      background-color: rgba(0, 0, 0, 0.42) !important;
    }
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #8bc0f5;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #63b1ff;
  }

  .mat-button-wrapper {
    color: var(--color-text-disabled);
  }
}

.grid-cell-centered {
  text-align: center;
}

.grid-header-centered .ag-header-cell-label {
  justify-content: center;
}

.ng-select {
  padding: 0;
}

.cdk-overlay-pane {
  max-height: 90vh !important;
}
