.info-icon {
  cursor: pointer;
}

.text-container {
    position: absolute;
    z-index: 99;
    background: rgb(255, 241, 204);
    padding: 10px;
    font-size: 12px;
    border: 2px solid #583a00;
    border-radius: 10px;
}
