<div class="container">
  <h2>Ваші замовлення</h2>

  <div>
    <div *ngFor="let order of orders" class="order-container">
      <div class="d-flex justify-content-between">
        <i
          class="fa fa-map-marker preview-catering-position"
          (click)="viewCateringPosition(order.id)"
        ></i>
        <div style="flex: 1">Номер замовлення: {{ order.number }}</div>
        <div style="flex: 1; text-align: right">
          <strong>{{ order.totalPrice }} грн.</strong>
        </div>
      </div>

      <div>
        <div>
          Статус:
          <h5 class="d-inline">{{ order.statusName }}</h5>
        </div>

        <div>Метод оплати: {{ order.paymentMethodName }}</div>
      </div>

      <div style="margin: 10px 0">
        <div
          (click)="order.showOptions = !order.showOptions"
          style="cursor: pointer"
        >
          <span style="width: 30px; display: inline-block">
            <i *ngIf="order.showOptions" class="fa-solid fa-chevron-down"></i>
            <i
              *ngIf="!order.showOptions"
              class="fa-solid fa-chevron-right"
            ></i> </span
          >Позиції
        </div>

        <div [style.display]="order.showOptions ? '' : 'none'">
          <div
            *ngFor="let position of order.positions"
            class="d-flex position-container"
          >
            <div class="d-flex align-items-center">
              <div>
                {{ getPositionLabel(position) }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="d-flex justify-content-between">
          <strong>{{ order.comment ? "Коментар до замовлення:" : "" }}</strong>
          {{ getDateTime(order.createdDate) }}
        </div>

        <div style="width: 200px">
          <p>{{ order.comment }}</p>
        </div>
      </div>

      <div
        *ngIf="order.statusValue === orderStatusValues.new"
        class="d-flex justify-content-center"
        style="margin-bottom: 10px"
      >
        <button class="btn btn-warning" (click)="toPayment(order.id)">
          Перейти до оплати
        </button>
      </div>

      <div
        *ngIf="
          order.statusValue === orderStatusValues.new ||
          order.statusValue === orderStatusValues.pendingStart ||
          order.statusValue === orderStatusValues.onHold
        "
        class="d-flex justify-content-center"
        style="margin-bottom: 10px"
      >
        <button class="btn btn-danger" (click)="rejectOrder(order.id)">
          Відмінити замовлення
        </button>
      </div>

      <div
        *ngIf="order.statusValue === orderStatusValues.ready"
        class="d-flex justify-content-center"
        style="margin-bottom: 10px"
      >
        <button class="btn btn-primary" (click)="completeOrder(order.id)">
          Я забрав замовлення
        </button>
      </div>

      <div class="d-flex justify-content-center" style="margin-bottom: 10px">
        <button class="btn btn-danger" (click)="complain(order.id)">
          Поскаржитися
        </button>
      </div>
    </div>
  </div>
</div>
