.order-container {
  border: 2px solid black;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px;

  .image-container {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 20px;
    }
  }

  .position-container {
    column-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .position-container {
    flex-direction: column;
  }
}
