<mat-form-field>
  <input matInput placeholder="Назва" [(ngModel)]="dialogData.name" readonly />
</mat-form-field>

<mat-form-field>
  <textarea
    matInput
    placeholder="Опис"
    [(ngModel)]="dialogData.description"
    style="resize: none"
    rows="3"
    readonly
  ></textarea>
</mat-form-field>

<div style="height: 200px; position: relative; margin-bottom: 20px">
  <ag-grid-angular
    style="width: 100%; height: 100%"
    class="ag-theme-alpine"
    [rowData]="items"
    [gridOptions]="modificationsGridOptions"
  >
  </ag-grid-angular>
</div>
