<h2>{{ dialogData.number }}</h2>

<div class="d-flex justify-content-between">
  <div>Номер замовлення:</div>
  <div>
    <strong>{{ dialogData.totalPrice }} грн.</strong>
  </div>
</div>

<div>
  <div>
    Статус:
    <h5 class="d-inline">{{ dialogData.statusName }}</h5>
  </div>
</div>

<div style="margin: 10px 0">
  <div (click)="dialogData.showOptions = !dialogData.showOptions" style="cursor: pointer">
    <span style="width: 30px; display: inline-block">
      <i *ngIf="dialogData.showOptions" class="fa-solid fa-chevron-down"></i>
      <i
        *ngIf="!dialogData.showOptions"
        class="fa-solid fa-chevron-right"
      ></i> </span
    >Позиції
  </div>

  <div [style.display]="dialogData.showOptions ? '' : 'none'">
    <div
      *ngFor="let position of dialogData.positions"
      class="d-flex position-container"
    >
      <div class="d-flex justify-content-center align-items-center">
        <div class="image-container">
          <img [src]="getPositionImage(position.pictureId)" />
        </div>
      </div>

      <div class="d-flex justify-content-center align-items-center">
        <div>{{ position.optionName }} x {{ position.quantity }} шт.</div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="d-flex justify-content-between">
    <strong>{{ dialogData.comment ? "Коментар до замовлення:" : "" }}</strong>
    {{ getDateTime(dialogData.createdDate) }}
  </div>

  <div style="width: 200px">
    <p>{{ dialogData.comment }}</p>
  </div>
</div>
