<div class="full-screen-container">
  <img class="bg-image" src="/assets/images/bg.png" />
  <div class="form" style="margin-top: 100px">
    <form [formGroup]="loginForm">
      <h2 style="text-align: center">Увійти в аккаунт</h2>
      <mat-form-field *ngIf="!isOauthLogin">
        <input
          matInput
          placeholder="Електронна пошта"
          formControlName="email"
        />

        <mat-error *ngIf="loginForm.controls.email.hasError('notUnique')">
          {{ loginForm.controls.email.errors.notUnique }}
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="!isOauthLogin">
        <input
          matInput
          type="password"
          placeholder="Пароль"
          formControlName="password"
        />

        <mat-error *ngIf="loginForm.controls.password.hasError('tooWeak')">
          {{ loginForm.controls.password.errors.tooWeak }}
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="isOauthLogin">
        <input
          matInput
          placeholder="Номер телефону"
          formControlName="phoneNumber"
        />

        <mat-error *ngIf="loginForm.controls.phoneNumber.hasError('notUnique')">
          Номер телефону вже зареєстрований
        </mat-error>
      </mat-form-field>

      <button
        [disabled]="loginForm.invalid"
        [class.disabled]="loginForm.invalid"
        class="form__btn form__btn_login"
        (click)="login()"
      >
        Увійти
      </button>

      <button
        class="form__btn form__btn_login register"
        [routerLink]="'/auth/register'"
      >
        Реєстрація
      </button>

      <button
        class="form__btn form__btn_login register-google"
        (click)="signInWithGoogle()"
      >
        <i class="fa fa-google"></i>&emsp;Увійти за допомогою Google
      </button>
    </form>
  </div>

  <div class="more-actions-container">
    <span class="more-actions-toggler" (click)="moreActions = !moreActions">
      <i
        *ngIf="moreActions"
        class="fas fa-chevron-down"
        style="padding-right: 10px"
      ></i>
      <i
        *ngIf="!moreActions"
        class="fas fa-chevron-up"
        style="padding-right: 10px"
      ></i>
    </span>

    <div *ngIf="moreActions" class="more-actions-buttons">
      <a [routerLink]="'/auth/register-company'"
        ><div class="register-company-btn">Зареєструвати компанію</div></a
      >

      <a [routerLink]="'/auth/catering'"
        ><div class="register-company-btn">Увійти як надавач послуг</div></a
      >
    </div>
  </div>
</div>
