<h4>{{ getTitle() }}</h4>

<form [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Назва" formControlName="name" />
  </mat-form-field>

  <mat-form-field>
    <textarea
      matInput
      placeholder="Опис"
      formControlName="description"
      style="resize: none"
      rows="3"
    ></textarea>
  </mat-form-field>
</form>

<div style="height: 200px; position: relative; margin-bottom: 20px;">
  <button class="btn btn-primary add-catering" (click)="addOption()">
    <i class="fas fa-plus" aria-hidden="true"></i>
  </button>

  <ag-grid-angular
    style="width: 100%; height: 100%"
    class="ag-theme-alpine"
    [rowData]="options"
    [gridOptions]="optionsGridOptions"
  >
  </ag-grid-angular>
</div>

<app-pictures-selector [data]="pictureOptions"></app-pictures-selector>

<div
  class="d-flex justify-content-center"
  style="column-gap: 20px; margin-top: 10px"
>
  <button mat-raised-button [disabled]="!form.valid" (click)="save()">
    Зберегти
  </button>
  <button mat-raised-button (click)="close()">Закрити</button>
</div>
