.navbar-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar-title {
  text-decoration: none !important;
}

::ng-deep .page-select {
  color: white !important;
  width: 200px;

  .ng-arrow,
  .ng-value-label {
    color: white !important;
  }

  .ng-select-container:after {
    border-color: white !important;
  }
}
