<h3>{{ catering.label }}</h3>

<div style="position: relative; margin-bottom: 10px">
  <label (click)="showServices = !showServices">
    <span style="width: 30px">
      <i *ngIf="showServices" class="fas fa-chevron-down"></i>
      <i *ngIf="!showServices" class="fas fa-chevron-right"></i>
    </span>
    Про заклад
  </label>
  <p *ngIf="showServices">{{ catering.services }}</p>

  <span style="position: absolute; right: 0; top: -35px">{{
    catering.fullDay ? "Цілодобово" : getTime()
  }}</span>
</div>

<div class="options">
  <div *ngFor="let item of menu; let i = index" class="option-container">
    <div class="option-image-container">
      <img class="option-image" [src]="item.firstPictureUrl" />
    </div>

    <div class="option-data-container">
      <div class="option-text-container">
        <h5 class="option-name">{{ item.name }}</h5>
        <p class="option-description">{{ item.description }}</p>
      </div>

      <div class="full-selectable-container">
        <div class="option-selectable-container">
          <div class="change-qty-btn">
            <button
              class="btn btn-primary"
              [disabled]="item.disableSelectSmallerOption"
              (click)="smallerOption(i)"
            >
              <i class="fa-solid fa-arrow-left"></i>
            </button>
          </div>

          <ng-container *ngFor="let option of item.options">
            <div
              *ngIf="option.id === item.selectedOptionId"
              class="option-item"
            >
              <div>{{ option.name }}</div>
              <div>{{ option.price }} грн.</div>
              <div style="height: 20px; font-size: 12px; color: red">
                {{ option.available ? "" : "Недоступно" }}
              </div>
            </div>
          </ng-container>

          <div class="change-qty-btn">
            <button
              class="btn btn-primary"
              [disabled]="item.disableSelectBiggerOption"
              (click)="biggerOption(i)"
            >
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </div>

        <div class="select-qty-container">
          <div>
            <button
              class="btn btn-primary"
              [disabled]="item.qty === 1"
              (click)="subtractQty(i)"
            >
              -
            </button>
          </div>

          <div class="qty-price-container">
            <div>Кількість</div>

            <div>
              {{ item.qty }}
            </div>
          </div>

          <div>
            <button class="btn btn-primary" (click)="addQty(i)">+</button>
          </div>
        </div>

        <div class="select-modifications-container">
          <ng-select
            *ngIf="item.modifications.length > 0"
            [items]="item.modifications"
            bindValue="id"
            bindLabel="name"
            [multiple]="true"
            [closeOnSelect]="false"
            placeholder="Добавки"
            appendTo="body"
            [(ngModel)]="item.selectedModifications"
            (change)="modificationsChange(i)"
          >
            <ng-template ng-option-tmp let-item="item">
              <div class="d-flex justify-content-between">
                <div>{{ item.name }}</div>
                <div>{{ item.price }} грн.</div>
              </div>
            </ng-template>
          </ng-select>
        </div>

        <div style="display: flex; justify-content: space-between">
          <div style="line-height: 38px">
            Загальна ціна: {{ item.totalPrice }} грн.
          </div>
          <button
            class="btn btn-primary"
            [disabled]="item.disabled"
            (click)="addToCart(item)"
          >
            Додати до кошику
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
