.option-container {
  border: 3px solid;
  border-radius: 20px;
  display: flex;
  margin-bottom: 20px;
  box-shadow: 5px 5px 20px 5px #9d9d9d52;
  transition: 0.2s;
  padding: 20px;

  &:hover {
    background-color: rgb(233, 233, 233);
  }

  .option-image-container {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    .option-image {
      max-width: 300px;
      max-height: 300px;
      border-radius: 20px;
    }
  }

  .option-data-container {
    display: flex;
    flex: 1;

    & > div {
      flex: 1;
    }

    .full-selectable-container {
      display: flex;
      flex-direction: column;

      .option-selectable-container {
        display: flex;
        flex: 1;

        & > div {
          flex: 1;
        }

        .change-qty-btn {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .option-item {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          align-items: center;
        }
      }

      .select-qty-container {
        flex: 1;
        display: flex;

        & > div {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .qty-price-container {
          flex-direction: column;
          text-align: center;

        }
      }

      .select-modifications-container {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .option-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;

    .option-image-container {
      margin-right: 0;
    }

    .option-data-container {
      width: 100%;
      flex-direction: column;
    }
  }
}
